*{
margin: 0;
padding: 0;
overflow: hidden;
}
body{
    background-color: none;
}
.photo-container{
    width: 12vw;
    height: 19vh;
    border: 1px solid black;
}
img{
    width: 12vw;
    height: 19vh;
}
img1{
    width: 12vw;
    height: 19vh;
}
.container{
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: flex-start;
    grid-gap: ((100-12*8)/7)vh;
}
.invisible{
    visibility: hidden;
}
.noClick{
    pointer-events: none;
}
.right-cont{
    height: 100%;
    width: 20%;
}
button{
    width: 100%;
    height: 5vh;
    padding:0px;
    margin: 0.5vh;
    border-radius: 0%;
}
h3{
    padding: 10px;
    margin: 5px;
}
.buttons{
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.menu{
    width: 100vw;
    height: 20vh;
    display: flex;
}

.instruction{
    width: 100%;
}